doctype html
html(lang="en")
	head 
		title partneram
		meta(charset="utf-8")
		//- meta(name="viewport" content="width=device-width, initial-scale=1.0")
		//- meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
		link(href='https://fonts.googleapis.com/css?family=Philosopher:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css')
		link(rel="stylesheet" type="text/css" href="css/min/main.css")

		script(src="https://code.jquery.com/jquery-1.11.3.min.js") 
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js")
		script(src="js/min/main.js") 

	body
		#wrap.cat_bg
			#head_wrap
				.header.sw.mauto
					ul.head_menu.ta_just
						li 
							a(href="#")
								span Компания
						|&#32;
						li 
							a(href="#")
								span Продукция
						|&#32;
						//- TODO change class when modx
						li.some_class 
							a(href="#")
								span. 
									Кондитерские
									инновации и
									технологии
						|&#32;
						li 
							a(href="#")
								span Партнерам
						|&#32;
						li 
							a(href="#")
								span Контакты
						|&#32;
			#partn_wrap
				.partn.mauto   
					.h1_t1.mauto
						h1 партнерам
					strong Активное развитие дистрибуторских каналов сбыта – одна из приоритетных задач ООО «КИТ».
					h2 Ваши преимущества при работе с нами:
					.partn_bl1
						.pbll
							.icon
								.icon1
							.info.
								Клиентоориентированные условия
								сотрудничества – <strong>«Наши условия,
								это Ваши Условия»</strong>
							.icon
								.icon3
							.info.
								<strong>Профессиональный коллектив</strong> –<br>
								наши сотрудники занимают активную
								жизненную позицию, энергичны и
								находятся в постоянном процессе
								самосовершенствования и обучения,
								они всегда рады предоставить Вам
								грамотную консультацию и ответить
								на все интересующие Вас вопросы;
						.pblr
							.icon
								.icon2
							.info.
								Индивидуальные партнерские
								отношения – <strong>гибкая ценовая политика,
								бонусы, скидки, логистические
								гарантии;</strong>
							.icon
								.icon4
							.info.
								<strong>Поддержка Вашего бизнеса</strong> –<br>
								ООО «КИТ» предлагает нашим Клиентам
								не только взаимовыгодные партнерские
								отношения и высококачественное
								обслуживание, но и практически полный
								спектр услуг в области маркетинговой
								поддержки, для развития продаж наших
								Клиентов;
					h2 Маркетинговая поддержка наших Клиентов – это:
					.partn_bl2
						.pbll
							.icon
								.icon5
							.info.
								Мотивационные Клиентские программы
								(вознаграждения и бонусы за выполнение
								поставленных задач)
							.icon
								.icon7
							.info.
								Предоставление фирменной сувенирной
								продукции (брендированные авторучки,
								блокноты, пакеты, календари и т.п.)
							.icon
								.icon9
							.info.
								BTL – мероприятия (дегустации в торговых
								точках, акции «1+1», «Подарок за покупку» и т.п.
							.icon
								.icon11
							.info.
								Анализ рынков (маркетинговые исследования,
								retail-audit, ценовые мониторинги, тестирование
								продаж, разработка практических рекомендаций
								для оптимальных условий продаж нашей продукции)
						.pblr
							.icon
								.icon6
							.info.
								Рекламная поддержка (реклама на ТВ,
								транспорте, в торговых точках, интернете и т.п.)
							.icon
								.icon8
							.info.
								Обеспечение POSM-материалами (воблеры,
								плакаты, шелфтокеры, монетницы и т.п.)
							.icon
								.icon10
							.info.
								EVENT – маркетинг (тематические акции,
								спонсорство, участие в общегородских
								празднованиях и т.п.)															
			#footer_wrap
				.footer.mauto
					.foo_left
						p © 2015 ООО «Кондитерские инновации и технологии»
					.foo_right
						p Разработка сайта <a>Web верфЬ</a>
